package ${iserPackage};

import ${entityPackage}.${Entity};
import ${ePackage}.ServiceException;

public interface I${Entity}Service {

	public ${idType} save(${Entity} ${entity}) throws ServiceException;

	public void update(${Entity} ${entity}) throws ServiceException;

	public void del(${Entity} ${entity}) throws ServiceException;

	public ${Entity} get(${idType} ${id}) throws ServiceException;

	public boolean exist(${idType} ${id}) throws ServiceException;

}