package ${serPackage};

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;

import ${idaoPackage}.I${Entity}Dao;
import ${daoPackage}.${Entity}Dao;
import ${entityPackage}.${Entity};
import ${ePackage}.ServiceException;
import ${iserPackage}.I${Entity}Service;

public class ${Entity}Service implements I${Entity}Service {

	private static final Log LOG = LogFactory.getLog(${Entity}Service.class);

	private static ${Entity}Service instance = null;

	public static synchronized ${Entity}Service getInstance() {
		if (instance == null) {
			instance = new ${Entity}Service();
		}
		return instance;
	}

	private I${Entity}Dao getI${Entity}() {
		return ${Entity}Dao.getInstance();
	}

	@Override
	public ${idType} save(${Entity} ${entity}) throws ServiceException {
		try {
			return getI${Entity}().save(${entity});
		} catch (Exception e) {
			String errorMsg = ${Entity}Service.class + ".save():" + e.getMessage();
			LOG.error(errorMsg, e);
			throw new ServiceException(errorMsg, e);
		}
	}

	@Override
	public void update(${Entity} ${entity}) throws ServiceException {
		try {
			getI${Entity}().update(${entity});
		} catch (Exception e) {
			String errorMsg = ${Entity}Service.class + ".update():" + e.getMessage();
			LOG.error(errorMsg, e);
			throw new ServiceException(errorMsg, e);
		}
	}

	@Override
	public void del(${Entity} ${entity}) throws ServiceException {
		try {
			getI${Entity}().del(${entity});
		} catch (Exception e) {
			String errorMsg = ${Entity}Service.class + ".del():" + e.getMessage();
			LOG.error(errorMsg, e);
			throw new ServiceException(errorMsg, e);
		}
	}

	@Override
	public ${Entity} get(${idType} ${id}) throws ServiceException {
		try {
			return getI${Entity}().get(${id});
		} catch (Exception e) {
			String errorMsg = ${Entity}Service.class + ".get():" + e.getMessage();
			LOG.error(errorMsg, e);
			throw new ServiceException(errorMsg, e);
		}
	}

	@Override
	public boolean exist(${idType} ${id}) throws ServiceException {
		try {
			return getI${Entity}().exist(${id});
		} catch (Exception e) {
			String errorMsg = ${Entity}Service.class + ".exist():" + e.getMessage();
			LOG.error(errorMsg, e);
			throw new ServiceException(errorMsg, e);
		}
	}

}
