package ${packageName};

#foreach($ref in ${refs})
import ${packageName}.${ref};
#end

public class ${Entity} implements java.io.Serializable {

#foreach($field in ${fields})
	private ${field.type} ${field.name};
#end

	public ${Entity}() {
	}

#foreach($field in ${fields})
	public ${field.type} get${field.Name}() {
		return ${field.name};
	}

	public void set${field.Name}(${field.type} ${field.name}) {
		this.${field.name} = ${field.name};
	}

#end
}
