package ${packageName};

#foreach($ref in ${refs})
import ${packageName}.${ref};
#end
import com.egg.common.utils.DateTimeUtil;

public class ${Entity} implements java.io.Serializable {

#foreach($field in ${fields})
	private ${field.type} ${field.name};
#end

	public ${Entity}() {
	}

	public static ${Entity} newDefault() {
		${Entity} obj = new ${Entity}();
#foreach($field in ${fields})
#if($util.isNotBlank(${field.columnInfo.def}))
#if(${field.type} == "String")
		obj.set${field.Name}("$!{field.columnInfo.def}");
#elseif(${field.type} == "Boolean" && $!{field.columnInfo.def}=="0")
		obj.set${field.Name}(false);
#elseif(${field.type} == "Boolean" && $!{field.columnInfo.def}=="1")
		obj.set${field.Name}(true);
#else
		obj.set${field.Name}($!{field.columnInfo.def});
#end
#end
#end
		return obj;
	}

#foreach($field in ${fields})
	public ${field.type} get${field.Name}() {
		return ${field.name};
	}

	public void set${field.Name}(${field.type} ${field.name}) {
		this.${field.name} = ${field.name};
	}

#if(${field.Name.endsWith("Date")} && (${field.type} == "Long" || ${field.type} == "long"))
	public String get${field.Name}Str() {
		return DateTimeUtil.formatDateTime(${field.name});
	}
#end

#end
}
