<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC "-//Hibernate/Hibernate Mapping DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">

<hibernate-mapping>
	<class name="${packageName}.${Entity}" table="${table}">
#foreach($field in ${fields}) ##
#if (${field.isId}) ##
		<id name="${field.name}" type="java.lang.${field.type}">
			<column name="`${field.column}`" />
#if (${field.type}=="String") ##
			<generator class="uuid" />
#else ##
			<generator class="native" />
#end ##
		</id>
#elseif (${field.isRef}) ##
		<many-to-one name="${field.name}" class="${packageName}.${field.type}" fetch="select">
			<column name="`${field.column}`" />
		</many-to-one>
#else ##
		<property name="${field.name}" type="${field.fullType}" not-null="${field.columnInfo.nullable}">
#if (${field.type}=="String") ##
			<column name="`${field.column}`" length="${field.columnInfo.length}" />
#elseif (${field.type}=="Double") ##
			<column name="`${field.column}`" precision="${field.columnInfo.precision}" />
#else ##
			<column name="`${field.column}`" />
#end ##
		</property>
#end ##
#end ##
	</class>
</hibernate-mapping>
