package ${iserPackage};

import java.util.List;

import ${PageInfoPackage}.PageInfo;

import ${entityPackage}.${Entity};
import ${ePackage}.ServiceException;

import ${rootPackage}.view.bean.${Entity}SearchBean;

public interface I${Entity}Service {

	public ${idType} save(${Entity} ${entity}) throws ServiceException;

	public void update(${Entity} ${entity}) throws ServiceException;

	public void del(${Entity} ${entity}) throws ServiceException;

	public ${Entity} get(${idType} ${id}) throws ServiceException;

	public boolean exist(${idType} ${id}) throws ServiceException;

	public List<${Entity}> findBySearch(int max, ${Entity}SearchBean search) throws ServiceException;

	public PageInfo findPageBySearch(int page, int rows, ${Entity}SearchBean search) throws ServiceException;

}