<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:utils="http://java.sun.com/jsf/composite/utils"
	template="/templates/admin.xhtml">

	<ui:define name="init"><h:outputText value="#{pM${Entity}Ctrl.initUpdate}" /></ui:define>
	<ui:define name="content_title">编辑${Entity}</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:growl id="errMsg" showDetail="true" sticky="false" life="5000" />

			<input type="hidden" name="${id}" value="#{${entity}.${id}}" />
			<div class="main_block">
				<table width="100%" border="0" cellpadding="0" cellspacing="0" class="main_table">
					<tr>
						<td class="label" valign="top" width="100">ID：</td>
						<td class="item" valign="middle"><h:outputText value="#{${entity}.${id}}" /></td>
					</tr>
#foreach($f in ${fieldList})
					<tr>
						<td class="label" valign="top">${f.name}：</td>
						<td class="item" valign="middle">
#if(${f.name}=="deleted" || ${f.name}=="createMan" || ${f.name}=="lastMan")
#elseif(${f.name}=="createDate" || ${f.name}=="lastDate")
							<h:outputText value="#{${entity}.${f.name}Str}" />
#elseif(${f.isRef})
							<select name="${f.name}" class="main_input">
								<option><h:outputText value="#{${f.name}Options}" escape="false" /></option>
							</select>
#elseif(${f.Type}=="Boolean")
							<label for="${f.name}1"><input type="radio" name="${f.name}" id="${f.name}1" value="1" checked="#{${entity}.${f.name}?'checked':''}" /> Y</label>
							<label for="${f.name}0"><input type="radio" name="${f.name}" id="${f.name}0" value="0" checked="#{${entity}.${f.name}?'':'checked'}" /> N</label>
#elseif(${f.name}=="intro" || ${f.name}=="remark" || ${f.name}=="content")
							<textarea name="${f.name}" id="${f.name}" rows="3" cols="50" style="margin-bottom:10px;" class="main_textarea"><h:outputText value="#{${entity}.${f.name}}" /></textarea>
#elseif(${f.Type}=="Integer" || ${f.Type}=="Double" || ${f.Type}=="Long")
							<input type="text" name="${f.name}" value="#{${entity}.${f.name}}" maxlength="10" class="main_input" />
#else
							<input type="text" name="${f.name}" value="#{${entity}.${f.name}}" maxlength="64" class="main_input" />
#end
						</td>
					</tr>
#end
					<tr>
						<td class="label" valign="top"></td>
						<td class="item" valign="middle">
							<p:commandLink styleClass="btn btn_blue" value="修改" action="#{pM${Entity}Ctrl.update}" update="errMsg" />
							<a class="btn btn_grey" href="view.jsf?${f.id}=#{${entity}.${id}}">取消</a>
						</td>
					</tr>
				</table>
			</div>
		</h:form>
	</ui:define>
	
	<ui:define name="js">
	<script type="text/javascript">
	//<![CDATA[
	var init_menu_id = "menu_${entity}";
	//]]>
	</script>
	</ui:define>
</ui:composition>
