<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:utils="http://java.sun.com/jsf/composite/utils"
	template="/templates/admin.xhtml">

	<ui:define name="init">
		<h:outputText value="#{pM${Entity}Ctrl.initSearch}" />
		<h:outputText value="#{pM${Entity}Ctrl.lazy}" />
	</ui:define>
	<ui:define name="content_title">${Entity}列表</ui:define>
	
	<ui:define name="content">
		<h:form id="form">
			<p:growl id="errMsg" showDetail="true" sticky="false" life="5000" />
			
			<div class="add_block">
				<table class="seachWrap">
					<tr>
#foreach($f in ${fieldList})
#if(${f.isRef})
						<td>${f.name}：
							<select name="q${f.Name}Id">
								<option value="0">不限</option>
								<h:outputText value="#{${f.name}Options}" escape="false" />
							</select>
						</td>
#end
#end
						<td><a class="btn btn_green" onclick="lazySearch()">搜索</a></td>
						<td><a class="btn btn_blue" href="add.jsf">添加</a></td>
                        <td><a class="btn btn_green" data-href="#{base}${ExportActionUrl}/${entity}s}" onclick="excelExport(this)">导出</a></td>
					</tr>
				</table>
			</div>

			<div class="main_block" style="border:none;">
				<!-- 数据列表 -->
				<h:panelGroup id="lazy">
					<h:panelGroup rendered="#{pi==null or empty pi.list}">
						<div style="margin: 20px;text-align: center;">暂无记录，请重新查询！</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{pi!=null and not empty pi.list}">
						<table class="table_style" width="100%" border="0" cellpadding="0" cellspacing="0">
	      					<thead>
	      					<tr>
								<td class="allowSort" data-orderColunm="0">ID</td>
#foreach($f in ${fieldList})
#if(${f.Type}=="Long" || ${f.name}=="remark" || ${f.name}=="deleted" || ${f.name}=="createMan" || ${f.name}=="lastMan")
#else
								<td>${f.name}</td>
#end
#end
								<td style="max-width:180px;">操作</td>
	      					</tr>
	      					</thead>

	   						<ui:repeat var="v" value="#{pi.list}" varStatus="vs">
	      					<tr class="#{vs.odd?'tr_odd':'tr_even'}">
	      						<td><h:outputText value="#{v.${id}}" /></td>
#foreach($f in ${fieldList})
#if(${f.Type}=="Long" || ${f.name}=="remark" || ${f.name}=="deleted" || ${f.name}=="createMan" || ${f.name}=="lastMan")
#elseif(${f.Type}=="Boolean")
								<td>
									<h:outputText styleClass="cgreen" value="Y" rendered="#{v.${f.name}}" />
									<h:outputText styleClass="cred" value="N" rendered="#{not v.${f.name}}" />
								</td>
#else
								<td><h:outputText value="#{v.${f.name}}" /></td>
#end
#end
	      						<td>
	      							<a href="view.jsf?${id}=#{v.${id}}">查看</a>
	      							
	      							<h:panelGroup>
		      						<a href="edit.jsf?${id}=#{v.${id}}" class="ml10">编辑</a>
		      						</h:panelGroup>
		      						
	      							<h:panelGroup>
		      						<a onclick="del('#{v.${id}}')" class="ml10">删除</a>
		      						</h:panelGroup>
	      						</td>
	      					</tr>
	   						</ui:repeat>
	      				</table>
					</h:panelGroup>
					<utils:lpPages value="#{pi}" pageTurnId="form:pageTurn" styleClass="tab_bottom" />
				</h:panelGroup>

				<!-- 翻页方法 -->
                <input type="hidden" id="orderColunm" name="orderColunm" value="#{search.orderColunm}" />
                <input type="hidden" id="orderAsc" name="orderAsc" value="#{search.orderAsc}" />
				<input type="hidden" id="page" name="page" />
				<input type="hidden" id="rows" name="rows" value="10" />
				<p:commandLink id="pageTurn" action="#{pM${Entity}Ctrl.getLazy}" oncomplete="lazyCallback()" update="lazy" />

				<!-- 操作方法 -->
				<input type="hidden" id="${id}" name="${id}" />
                <p:commandLink id="delBtn" action="#{pM${Entity}Ctrl.del}" oncomplete="pfCallback(xhr, status, args, cb)" update="errMsg" />
			</div>
		</h:form>
	</ui:define>
	
	<ui:define name="js">
	<script type="text/javascript">
	//<![CDATA[
	var init_menu_id = "menu_${entity}";

    $(function () {
        initSort();
    });

	function del(id) {
		if(confirm('确定要删除吗?')) {
			$("#${id}").val(id);
			clk("form:delBtn");
		}
	}

    function cb() {
        clk("form:pageTurn");
    }
	
	//]]>
	</script>
	</ui:define>
</ui:composition>
