package ${searchBeanPackage};

import java.util.Date;

import ${CommonsPackage}.utils.DateTimeUtil;

public class ${Entity}SearchBean {

	public static final int order_${id} = 0;


	private String q${Id};
#foreach($f in ${fieldList})
#if(${f.isRef} || ${f.Type}=="Long" || ${f.name}=="remark" || ${f.name}=="deleted" || ${f.name}=="createDate" || ${f.name}=="createMan" || ${f.name}=="lastDate" || ${f.name}=="lastMan")
#elseif(${f.Type}=="Boolean" || ${f.Type}=="Integer")
	private int q${f.Name} = -1;
#elseif(${f.Type}=="String")
	private String q${f.Name};
#end
#end

	private int orderColunm = 0;
	private int orderAsc = 0;
	private String begin;
	private String end;
	private Long beginTime;
	private Long endTime;

	public ${Entity}SearchBean() {
	}

	public String getq${Id}() {
		return q${Id};
	}

	public void setq${Id}(String q${Id}) {
		this.q${Id} = q${Id};
	}
#foreach($f in ${fieldList})
#if(${f.isRef} || ${f.Type}=="Long" || ${f.name}=="remark" || ${f.name}=="deleted" || ${f.name}=="createDate" || ${f.name}=="createMan" || ${f.name}=="lastDate" || ${f.name}=="lastMan")
#elseif(${f.Type}=="Boolean" || ${f.Type}=="Integer")
	public int getq${f.Name}() {
		return q${f.Name};
	}

	public void setq${f.Name}(int q${f.Name}) {
		this.q${f.Name} = q${f.Name};
	}
#elseif(${f.Type}=="String")
	public String getq${f.Name}() {
		return q${f.Name};
	}

	public void setq${f.Name}(String q${f.Name}) {
		this.q${f.Name} = q${f.Name};
	}
#end
#end


	public int getOrderColunm() { return orderColunm; }
	public void setOrderColunm(int orderColunm) { this.orderColunm = orderColunm; }
	public int getOrderAsc() { return orderAsc; }
	public void setOrderAsc(int orderAsc) { this.orderAsc = orderAsc; }
	public String getBegin() { return begin; }
	public void setBegin(String begin) { this.begin = begin; }
	public String getEnd() { return end; }
	public void setEnd(String end) { this.end = end; }

	public Long getBeginTime() {
		if (beginTime == null) {
			if (begin == null || begin.isEmpty()) {
				return null;
			}
			Date d = DateTimeUtil.parse(begin, "yyyy-MM-dd");
			if (d != null) {
				beginTime = d.getTime();
			}
		}
		return beginTime;
	}

	public Long getEndTime() {
		if (endTime == null) {
			if (end == null || end.isEmpty()) {
				return null;
			}
			Date d = DateTimeUtil.parse(end + " 23:59:59", "yyyy-MM-dd HH:mm:ss");
			if (d != null) {
				endTime = d.getTime();
			}
		}
		return endTime;
	}

	public void setBeginTime(Long beginTime) {
		this.beginTime = beginTime;
	}

	public void setEndTime(Long endTime) {
		this.endTime = endTime;
	}

}
